<div class="container p-4" style="width:1350px;">
    <div class="row">
      <div class="col col-md-6">
        <div class="card">
          <div class="card-header">Accounts</div>
          <div class="card-body">
            <form [formGroup]="accountFormGroup" (ngSubmit)="handleSearchAccount()">
              <div class="input-group">
                <label class="input-group-text">Account Id :</label>
                <input type="text" formControlName="accountId" class="form-control">
                <button class="btn btn-dark">
                  <i class="bi bi-search"></i>
                  Search
                </button>
              </div>
            </form>
            <ng-template #errorTemplate>
              <ng-container *ngIf="errorMessage ; else loading">
                <div class="text-danger">{{errorMessage}}</div>
              </ng-container>
              <ng-template #loading>
                Loading ...
              </ng-template>
            </ng-template>
            <ng-container *ngIf="accountObservable | async as accountDetails">
              <div class="mb-2">
                <label>Account ID :</label>
                <label><strong>{{accountDetails.accountId}}</strong></label>
              </div>
              <div class="mb-2">
                <label>Balance :</label>
                <label><strong>{{accountDetails.balance | number : '1.2-2'}}</strong></label>
              </div>
              <table class="table">
                <thead>
                  <th>ID</th><th>Date</th><th>Type</th><th>Amount</th>
                </thead>
                <tbody>
                  <tr *ngFor="let op of accountDetails.accountOperationDTOS">
                    <td>{{op.id}}</td>
                    <td>{{op.operationDate | date : 'dd-MM-yyyy:HH-mm-ss'}}</td>
                    <td>{{op.type}}</td>
                    <td class="text-end">{{op.amount | number : '1.2-2'}}</td>
                  </tr>
                </tbody>
              </table>
              <ul class="nav nav-pills">
                <li *ngFor="let item of [].constructor(accountDetails.totalPages);let page=index">
                  <a [ngClass]="page==currentPage?'btn-info':'btn-outline-info'" (click)="gotoPage(page)" class="btn  ms-1 mt-1">{{page}}</a>
                </li>
              </ul>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="card" *ngIf="accountObservable">
          <div class="card-header">Operations</div>
          <div class="card-body">
  
            <form [formGroup]="operationFromGroup" (ngSubmit)="handleAccountOperation()" method="post">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="operationType" value="DEBIT">
                <label class="form-check-label">DEBIT:</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="operationType" value="CREDIT">
                <label class="form-check-label">CREDIT:</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="operationType" value="TRANSFER">
                <label class="form-check-label">TRANSFER:</label>
              </div>
              <div class="mb-3" *ngIf="operationFromGroup.value.operationType=='TRANSFER'">
                <label class="form-label">Account Destination :</label>
                <input type="text" formControlName="accountDestination" class="form-control">
              </div>
              <div class="mb-3">
                <label class="form-label">Amount :</label>
                <input type="text" formControlName="amount" class="form-control">
              </div>
              <div class="mb-3">
                <label class="form-label">Description :</label>
                <input type="text" formControlName="description" class="form-control">
              </div>
              <div class="d-grid mb-3">
                <button class="btn btn-success">Save Operation</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>