<nav class="sidebar bg-dark p-2">
  <ul id="sidemenu" class="nav flex-column">
    <!-- <li class="nav-item">
      <a class="nav-link" [routerLink]="['dashbord']">Dashboard</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['customer']">Customers</a>
      <ul class="nav flex-column ml-3">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['customer']">
            <button class="btn btn-outline-light">Liste</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['customer/add']">
            <button class="btn btn-outline-light">Ajouter</button>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['account']">Accounts</a>
      <ul class="nav flex-column ml-3">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['account']">
            <button class="btn btn-outline-light">Liste</button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['account/add']">
            <button class="btn btn-outline-light">Ajouter</button>
          </a>
        </li>

        
        <li class="nav-item">
          <a class="btn btn-outline-white text-white" (click)="logout()"><i class="bi bi-box-arrow-right"></i> Logout</a>
        </li>
        
      </ul>
    </li>
  </ul>
</nav>
