<div class="p-4" style="width:1200px;">
    <div class="card">
      <div class="card-body">
      
        <div class="input-group mb-3 p-2 mt-4 ml-10">
          <input type="text" class="form-control " placeholder="Search" [(ngModel)]="keyword" >
          <button class="btn btn-dark btn-outline-white" type="button">
            <i class="bi bi-search text-white"></i> Search
          </button>
        </div>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>NAME</th>
              <th>EMAIL</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers">
              <td>{{customer.id}}</td>
              <td>{{customer.name}}</td>
              <td>{{customer.email}}</td>
              <td><a class="btn btn-success" [routerLink]="['edit', customer.id]">Edit</a></td>
              <td><a class="btn btn-danger" (click)="deleteCustomer(customer.id)">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  