.logo-img {
  width: 40px;
  height: auto;
  /* margin-right: 10px; */
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
}

.logout-btn {
  background-color: rgb(98, 0, 255);
  color: rgb(17, 9, 128);
  border: none;
}

.logout-btn:hover {
  background-color: #4e22ff;
}
