<header>
  <div class="bg-dark text-white py-2"> <!-- Adjusted the py-2 class for smaller height -->
    <div class="d-flex justify-content-start align-items-start ms-2" [routerLink]="['dashbord']">
      <img src="assets/logo.png" alt="TAFFAH BANCK Logo" class="logo-img">
      <h1 class="logo-text btn text-white">E-banking App</h1>
    </div>
  </div>
</header>
