<div class="p-4" style="width:1200px;">
  <div class="card">
    <div class="card-body">
    <h4>Save customer</h4>
      <div class="form_container p-2 mt-4">
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" [(ngModel)]="form.name" #name="ngModel" required>
            <div class="invalid-feedback" *ngIf="name.invalid && f.submitted">
              Name is required
            </div>
          </div>
    
          <div class="form-group pt-4">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" [(ngModel)]="form.email" #email="ngModel" required>
            <div class="invalid-feedback" *ngIf="email.invalid && f.submitted">
              Quantity is required
            </div>
          </div>
    
          <div class="form-group mt-4 pt-4 d-flex ">
            <button class="btn btn-dark">Save Customer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>