<div class="p-4" style="width:1350px;">
    <div class="card">
      <div class="card-body">     
        <h4 class="mt-2">Accounts Statistics</h4>
        <div class="statistics">
          <div class="statistic">
            <span class="label">Total Accounts:</span>
            <span class="value">100</span>
          </div>
          <div class="statistic">
            <span class="label">Active Accounts:</span>
            <span class="value">80</span>
          </div>
          <div class="statistic">
            <span class="label">Inactive Accounts:</span>
            <span class="value">20</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  